section#post-list{
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: white;
    overflow-y: scroll;
}

section#post-list article {
    display: flex;
    justify-content: space-between;

}

.post-produtos {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 350px;
    height: 30px;
    padding: 0 5px 0px 5px;
}

.post-produtos button{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
